@import "../../design-tokens/css/_variables.css";

:host {
  display: block;
}

p {
  padding: 30px 20px;
}

p.theme-light {
  background-color: white;
  color: black;
}

p.theme-dark {
  background-color: #3f3f3f;
  color: white;
}

p.text-style-italics {
  font-style: italic;
}

p.text-style-underline {
  text-decoration: underline;
}

p.text-style-uppercase {
  text-transform: uppercase;
}