@import '../../design-tokens/css/_variables.css';

:host {
  display: block;
}

.theme-light {
  color: black;
}

.theme-dark {
  color: white;
}

.text-style-normal {
  font-style: normal;
}

.text-style-italics {
  font-style: italic;
}

.text-style-underline {
  text-decoration: underline;
}

.text-style-uppercase {
  text-transform: uppercase;
}

.text-style-lowercase {
  text-transform: lowercase;
}

.text-light {
  font-weight: 300;
}

.text-medium {
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.text-variant-p {
  font-size: 0.875rem;
  line-height: 24px;
}

.text-variant-h1 {
  font-size: 3rem;
  line-height: 72px;
}

.text-variant-h2 {
  font-size: 2rem;
  line-height: 48px;
}

.text-variant-h3 {
  font-size: 1.75rem;
  line-height: 36px;
}

.text-variant-h4 {
  font-size: 1.5rem;
  line-height: 36px;
}

.text-variant-h5 {
  font-size: 1.25rem;
  line-height: 30px;
}

.text-variant-h6 {
  font-size: 1.125rem;
  line-height: 27px;
}

.margin-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
